.Box1{
    height: 300px ;
     width:300px ;
    border: 5px dashed tomato;
    margin-left: 30px;
}
p{
    background-color: darksalmon;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 25px;
    padding-bottom: 30px;
}
.box1{
    height: 300px ;
     width:300px ;
    border: 5px dashed olive;
    margin-left: 30px;
}
#P{
    background-color: darkseagreen;
    padding: 50px 60px 75px;
}

#p1{
    background-color: cadetblue;
    max-width: 80%;
    border: 5px dotted pink;
}
.Box3{
    color: lightcoral;
    height: 300px;
    width: 300px;
    border: 5px solid chocolate;
    margin-top: 20px;
    padding:0px 20px;
    margin-left: 20px;
    outline: 5px dotted black;
    outline-offset: 10px;
    outline-style: dashed;
    outline-color: darkcyan;
}
#P2{
    
 background-color: lightblue;
    max-width: 80%;
    border: 5px dotted deeppink;
    text-align: right;
    
}

.Box4{
    color: black;
    height: 300px;
    width: 300px;
    border: 5px solid mediumpurple;
    margin-top: 20px;
   
    margin-left: 20px;
    outline: 5px dotted orchid;
    outline-offset: 10px;
    outline-style: dashed;
   
}
#P3{
    color: #fff;
    background-color: lightseagreen;
    border: 5px solid green ;
    text-align: start;
    text-align-last: center;
}

.Box5
{
    height: 300px;
    width: 300px;
    border: 5px solid teal ;
    margin-top: 20px;
   
    margin-left: 20px;
    outline: 5px dotted darkcyan;
    outline-offset: 10px;
}

#P4{
    color: #fff;
    background-color: beige;
    padding:  3px  ;
    border:  5px solid brown;
    
}
#P4 img{
    vertical-align: super;
}
#P5{
    color: #fff;
    background-color:  lightpink;
    direction: rtl;
    padding:  5px  ;
    border:  5px solid lightseagreen;
    unicode-bidi: bidi-override;
}
#P5 img{
    vertical-align: sub;
}